{% extends 'basic.html' %} {% block title %}Book Room {% endblock title %} {% block body %}
<div class="container">

    <div class="row">
        <div class="col-md-6 col-lg-6 col-xlg-6 col-sm-12 mx-auto my-4 ">

            <form action="/user/book-room/book" method="POST">
                {%csrf_token%}
                {%load app_tags%}
                <div class="form-group">
                    <label for="username">Hotel:</label>
                    <input type="text" class="form-control " id="hotel" name="hotel" disabled value={{room.hotel.name}}>
                </div>
                <div class="form-group">
                    <label for="username">Location:</label>
                    <input type="text" class="form-control " id="location" name="location" disabled value={{room.hotel.location}}>
                </div>
                <div class="form-group">
                    <label for="person">username:</label>
                    <input type="text" class="form-control " id="username" name="username" required="true" value={{request.user}}>
                </div>
                <div class="form-group">
                    <label for="person">Person:</label>
                    <input type="number" class="form-control " id="person" name="person" min="1" max={{room.capacity}} required="true" value={{room.capacity}}>
                </div>
                <div class="form-group">
                    <label for="password2">Check-in:</label>
                    <input type="date" class="form-control " id="cin" min={%todays_date%} max={% max_date %} placeholder="check in " name="check_in" required="True">
                </div>
                <div class="form-group">
                    <label for="password2">Check-Out:</label>
                    <input type="date" class="form-control " id="cout" min={%tommorow%} max={% max_date%} placeholder="check out " name="check_out" required="True">
                </div>
                <div class="form-group">
                    <label for="username">Room Type:</label>
                    <input type="text" class="form-control " id="roomtype" name="roomtype" disabled value={{room.get_room_type_display}}>
                </div>
                <div class="form-group">
                    <label for="password2">Price:</label>
                    <input type="number" class="form-control " id="price" placeholder="price " name="price" disabled value={{room.price}}>
                </div>


                <button type="submit" class="btn btn-primary">Book Now</button>
                <input type="hidden" name="room_id" value={{room.id}}>

            </form>
        </div>
    </div>
</div>
{% endblock body %}